/* Estilos da Dashboard do Paciente - Padrão Clínica BemNordeste */

/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Fundo azul igual ao login */
body {
  background-color: #1e73be;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Cabeçalho */
header {
  width: 100%;
  background-color: #eab308;
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

header h1 {
  color: #1e73be;     /* pedido: deixar o título azul */
  font-size: 28px;
  font-weight: bold;
}

/* Conteúdo principal */
main {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1; /* para ocupar o espaço disponível */
}


/* Caixa branca do formulário */
.container{
  background-color: #ffffff; /* fundo branco do card */
  border-radius: 50px; /* cantos arredondados */
  padding: 40px 50px; /* espaçamento interno */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* sombra leve para destaque */
  text-align: center; /* centraliza o conteúdo */
  width: 500px; /* largura fixa do card */
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* organiza a logo e o texto verticalmente */
}

.logo img {
  width: 350px;
  margin-bottom: 20px;
  /* define o tamanho da imagem da logo */
}

.logo h1 {
  font-size: 22px;
  color: #1e73be;
  align-items: center;
  font-weight: 700;
  /* título principal da logo */
}

/* Botões */
button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background-color: #facc15;   /* amarelo padrão */
  border: none;
  color: #222;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #eab308;
}

/* Botão de sair */
.logout {
  background-color: #ff4d4d;
  color: white;
}

.logout:hover {
  background-color: #d93636;
}

/* Título centralizado */
h2{color: #1e73be;
  text-align:center;
   margin-top: 25px; /* controle do espaço */
}


footer {
    width: 100%;
    background-color: #eab308;
    color: black;
    text-align: center;
    padding: 15px 10px;
    margin-top: 30px;
}