@import url("../pagina_de_marcação/marcação.css");

/* Caixa do menu */
.menu-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin-top: 60px;
}

.menu-box button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: #facc15;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
}

.menu-box button:hover {
    background: #eab308;
}

.logout {
    background: #ff4444 !important;
    color: white;
}

.logout:hover {
    background: #cc0000 !important;
}
