body {
    font-family: Arial, sans-serif;
    background-color: #1e73be;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #056cda;
    color: rgb(58, 11, 243);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 350px;
  margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    
}

.container {
  background-color: #ffffff; /* fundo branco do card */
  border-radius: 50px; /* cantos arredondados */
  padding: 40px 50px; /* espaçamento interno */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* sombra leve para destaque */
  text-align: center; /* centraliza o conteúdo */
  width: 500px; /* largura fixa do card */
  position: relative
}

h1, h2 {
    color: #0056b3;
    text-align: center;
}

/* Estilos do formulário */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #facc15;
    color: #222;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #eab308;
}

footer {
    width: 100%;
    background-color: #eab308;
    color: black;
    text-align: center;
    padding: 15px 10px;
    margin-top: 30px;
}
