/* Estilo do corpo da página */
body{
  background:#1f6feb; /* Fundo azul */
  font-family: Arial, sans-serif; /* Fonte do texto */
  display:flex; /* Usando flexbox para alinhar itens */
  flex-direction: column; /* Coloca tudo em coluna */
  align-items:center; /* Centraliza horizontalmente */
  margin:0; /* Remove margens padrão do navegador */
  min-height:100vh; /* Faz o fundo ocupar a tela toda */
}

/* Área para a logo */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* organiza a logo e o texto verticalmente */
}

.logo img {
  width: 350px;
  margin-bottom: 20px;
  /* define o tamanho da imagem da logo */
}

.logo h1 {
  font-size: 22px;
  color: #1e73be;
  align-items: center;
  font-weight: 700;
  /* título principal da logo */
}

/* Caixa branca do formulário */
.container{
  background-color: #ffffff; /* fundo branco do card */
  border-radius: 50px; /* cantos arredondados */
  padding: 40px 50px; /* espaçamento interno */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* sombra leve para destaque */
  text-align: center; /* centraliza o conteúdo */
  width: 500px; /* largura fixa do card */
}

/* Título centralizado */
h2{
  text-align:center;
}

/* Texto acima dos campos */
label{
  font-size:14px;
  display:block; /* Fica sozinho na linha */
  margin-bottom:4px;
}

/* Configuração dos campos de entrada */
input,select{
  width:100%; /* Ocupa toda a largura */
  padding:8px;
  margin-bottom:10px; /* Espaço entre inputs */
  border-radius:5px; /* Bordas arredondadas */
  border:1px solid #ccc; /* Bordas cinza */
}

/* Estilo do botão */
button{
  width:100%;
  background:#ffca28; /* Amarelo chamativo */
  border:none; /* Sem borda */
  padding:10px;
  font-size:16px; /* Texto maior */
  font-weight:bold; /* Texto em negrito */
  border-radius:5px; /* Arredondado */
  cursor:pointer; /* Mãozinha quando passa o mouse */
}

/* Texto vermelho dos erros */
.erro{
  color:red;
  font-size:12px;
  margin-bottom:6px;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 30px;
}